@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');    
.header {
    display: flex;
    width: 100%;
    padding: 2rem 0;
    justify-content: center;
}

.list-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

.add-card{
    width: 20rem;
    height: 20rem;
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    border-radius: .5rem;
}

.add-card span{
    transform: translateY(-5px);
}

li{
    list-style: none;
}

.card{
    width: 20rem;
    height: 20rem;
    background-color: #feff9c;
    /* border-radius: .5rem; */
    display: flex;
    font-family: "Playwrite RO" ,cursive;
    padding: 1rem;
    padding-top: 5rem;
    padding-left: 2rem;
    color: #000;
    font-size: 1.6rem;
    position: relative;

}

.card .stick {
    position: absolute;
    width: 100%;
    padding: 1rem;
    font-family: "Playwrite RO", cursive;
    text-transform: capitalize;
    height: 5rem;
    background-color: #ffff3452;
    top: 0;
    left: 0;
}

.card .deleteBtn{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    padding: .3rem .6rem;
    color: #000;
    font-size: 1.2rem;
    border-radius: 4px;
    transition: .2s ease-in-out
}
.card .deleteBtn:hover{
    background-color: #5553;
}

.card-edge{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff740;
    width: 3rem;
    height: 3rem;
    
}
.card-edge-tr {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #121212;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    width: 3rem;
    height: 3rem;
    
}

@media all and (max-width : 760px){
    .list-container{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;
    }
}